.blueLine {
  width: 150px;
  height: 3px;
  border-radius: 5px;
  background-color: blue;
  margin: 5px 0;
}
.infoWrapper {
  padding: 20px 0;
  position: sticky;
  top: 0;
  right: 0;
  .quizBox {
    display: flex;
    justify-content: space-between;
    width: 95%;
    cursor: pointer;
    margin: 10px 0;

    .quizFooter {
      display: flex;
      justify-content: space-between;
      background-color: #f2f2f2;
      padding: 2px 5px;
      width: 100px;
      p {
        font-size: 14px;
      }
    }
    .quizCountBox {
      background-color: #4788ff;
      background-position: center;
      border-radius: 5px;
      padding: 5px;
      color: #fff;
    }
  }
}
