.gameHeader {
  background-color: #25076b;
  padding: 30px 0;
}

.gameHeader .pinBox {
  background-color: #fff;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px 0;
}

.gameWrapper {
  height: 100vh;
  overflow: hidden;
}

.gameBody {
  display: flex;
  justify-content: space-around;
  background-color: #46178f;
  height: 80vh;
  padding: 50px 0;
  color: #fff;
  text-align: center;
  position: relative;
}

.gameBody .gameBodyBox1 {
  width: 500px;
  height: 500px;
  position: absolute;
  background-color: #3f1581;
  transform: rotate(35deg);
  left: -300px;
  top: 100px;
  animation: boxanim1 4s linear infinite;
}

.gameBody .gameBodyBox2 {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  background-color: #3f1581;
  transform: rotate(35deg);
  right: -200px;
  top: 150px;
  animation: boxanim2 4s linear infinite;
}

.gameBody .userNumberox {
  background-color: #1f0a40;
  color: #fff;
  width: 100px;
  height: 60px;
  display: flex;
  font-size: 30px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}

.gameBody .flex {
  display: flex;
  gap: 10px;
  margin-top: 100px;
}

.gameBody .flex .userBox {
  background-color: #1f0a40;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.gameBody .flex .userBox :hover {
  text-decoration: line-through;
  color: #888;
}

.gameBody .startGameBtn {
  background-color: #cccccc;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
}

@keyframes boxanim1 {
  50% {
    left: -250px;
  }
}

@keyframes boxanim2 {
  50% {
    right: -250px;
  }
}

.questionWrapper {
  background-color: #f2f2f2;
  height: 100vh;
  overflow: hidden;
}

.questionWrapper .nextBtn {
  float: right;
  margin-top: 20px;
  background-color: #25076b;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.questionWrapper .questionImg {
  width: 300px;
  height: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  margin: 30px auto;
  margin-bottom: 150px;
}

.questionHeaderBox {
  background-color: #fff;
  text-align: center;
  padding: 20px 0;
}

.answerFlex {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
  border: none;
  padding: 15px;
  cursor: pointer;
  background-color: #e21b3c;
  font-size: 24px;
  border-radius: 5px;
}

.resultWrapper {
  background-color: #25076b;
  height: 100vh;
  text-align: center;
  padding: 40px 0;
}

.resultTitle {
  background-color: #fff;
  width: 300px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
}

.homeLink {
  background-color: #1368ce;
  float: right;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.result {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #dbff00;
  box-shadow: 0px 4px 50px #dbff00;
  border-radius: 16px;
  margin: 0 auto;
}

.resultsFlex {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 80vh;
}

.resultsFlex div {
  width: 200px;
  background: #864cbf;
  box-shadow: 0px 4px 50px #000000;
  border-radius: 5px;
  padding: 20px;
}

.top2 {
  height: 300px;
}

.top1 {
  height: 400px;
}

.top3 {
  height: 250px;
}
/*# sourceMappingURL=gaming.css.map */